/** Gravity Forms */
.gform_wrapper {
	form {
		margin-bottom: 0;
	}
	ul {
		@extend .list-unstyled;
		> li {
			// @extend .mb-3;
		}
	}
	.gfield_required {
		padding-left: 1px;
		color: $danger;
	}
	input[type='email'],
	input[type='date'],
	input[type='datetime'],
	input[type='datetime-local'],
	input[type='month'],
	input[type='number'],
	input[type='password'],
	input[type='search'],
	input[type='tel'],
	input[type='text'],
	input[type='time'],
	input[type='week'],
	input[type='url'],
	select,
	textarea {
		@extend .form-control;
	}
	.button {
		@extend .btn;
	}
	.gfield_error {
		.gfield_label {
			background: none;
			color: $error;
		}

		input,
		select,
		textarea {
			@extend .alert-danger;
			border-color: $error;
			background: $white;
		}
	}
	.gform_body {
		.gfield_radio,
		.gfield_checkbox {
			> li {
				@extend .form-check;
				input {
					@extend .form-check-input;
				}
				label {
					@extend .form-check-label;
				}

				&:last-child:first-child {
					padding-left: 0;
				}
			}
		}
		.gfield_select {
			// @extend .form-control--select;
		}
		.gform_validation_container {
			display: none !important;
			position: absolute !important;
			left: -9000px;
		}
	}
	.gform_footer,
	.gform_page_footer {
		position: relative;
	}

	.gfield {
		margin-bottom: 24px;

		&_label {
			@extend .form-label;

			&:empty {
				display: none;
			}
		}

		&_consent_label {
			display: flex;
		}
	}

	.ginput_complex {
		label {
			@extend .form-label;
			font-weight: 400;
		}
	}

	.ginput_container {
		textarea {
			// border-radius: $border-radius;
			padding: 24px;
			height: 165px;
		}
		input[type='checkbox'] {
			display: none;
		}
		input[type='checkbox'] + label::before {
			border: 1px solid $black;
			border-radius: 4px;
			content: '';
			display: inline-block;
			height: 24px;
			margin-right: 10px;
			min-width: 24px;
			vertical-align: top;
		}
		input[type='checkbox']:checked + label::before {
			background: $black;
			border-color: $black;
			content: '✓';
			color: white;
			text-align: center;
		}
		&_consent {
			margin: 12px 0 24px;
		}
	}

	.ginput_container_address {
		display: flex;
		flex-wrap: wrap;
		label {
			margin-top: -2px;
			display: block;
		}
		& > span {
			flex-grow: 1;
			display: block;
			&.address_line_1,
			&.address_line_2 {
				width: 100%;
			}
			&.address_city {
				width: 50%;
				padding-right: 15px;
			}
			&.address_state {
				width: 25%;
				padding-right: 15px;
			}
			&.address_zip {
				width: 25%;
			}
		}
	}

	.button {
		@extend .btn;
	}

	.hidden_label {
		.gfield_label {
			display: none;
		}
	}
}

main .gform_submission_error {
	@extend .alert;
	@extend .alert-danger;
	font-size: inherit
}

body img.gform_ajax_spinner {
	// display: none!important;
	// position: absolute;
	// bottom: -25px;
	// right: 0;
	// left: 0;
	// margin: auto;
	width: 30px;
	border: 4px solid rgba($color: #ca6000, $alpha: 0.3);
	border-left: 4px solid rgba($color: #ca6000, $alpha: 1);
	animation: gFormspinner 1.1s infinite linear;
	border-radius: 50%;
	width: 30px;
	height: 30px;
}

@keyframes gFormspinner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
